@import "src/View/common/styles/constants";

.error {
  font-size: $base * 3;
  color: $error-color;
  margin-top: $base;
}

.radio {
  margin-right: $base;
  cursor: pointer;
}

.radioLabel {
  cursor: pointer;
}

.inputError {
  border: 1px solid $error-color;
  outline: $error-color;
}

.sup {
  color: $error-color;
}

.radioWrapper {
  display: flex;
  align-items: center;
  margin-right: $base * 2;
  margin-bottom: $base;
}
