@import "src/view/common/styles/constants";

.card {
  margin-bottom: $base-space;
  font-weight: 500;

  &__secondary {
    font-weight: 400;

    div {
      margin-bottom: $base;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
