.card {
  margin-bottom: 12px;
  font-weight: 500;

  &__secondary {
    font-weight: 400;

    div {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
