@import "src/view/common/styles/constants";

.card {
  margin-bottom: $base-space;

  &:last-child {
    margin-bottom: 0;
  }
}

.balance {
  margin-bottom: $base;
}

.calendarWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}
