$base: 4px;
$base-radius: $base;
$base-space: $base * 3;

$main-color: var(--main-color);
$secondary-color: var(--secondary-color);
$error-color: var(--error-color);
$success-color: var(--success-color);
$warning-color: var(--warning-color);

$text-color: var(--text-color);
$secondary-text-color: var(--secondary-text-color);
$border-color: var(--border-color);
$card-bg-color: var(--card-bg);
$card-shadow-color: var(--card-shadow-color);
$body-bg: var(--body-bg);
