:root {
  --main-color: #3d4977;
  --secondary-color: #f4782e;
  --error-color: #ff0000;
  --succes-color: #00ff04;
  --warning-color: #ffbf00;

  --border-color: #d6d6d6;
  --text-color: #000000;
  --card-bg: #fff;
  --body-bg: #eeeeee
}

#root[data-theme='dark'] {
  --border-color: #585858;
  --card-bg: #2b2b2b;
  --body-bg: #252525;
  --text-color: #dddddd;
}


$base: 4px;
$base-space: $base * 3;

$main-color: var(--main-color);
$secondary-color: var(--secondary-color);
$error-color: var(--error-color);
$succes-color: var(--succes-color);
$warning-color: var(--warning-color);

$text-color: var(--text-color);
$border-color: var(--border-color);
$card-bg-color: var(--card-bg);
$body-bg: var(--body-bg);
