@import "src/View/common/styles/constants";

.wrapper{
  display: flex;
  justify-content: space-between;
}

.block {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;

  button {
    margin-bottom: $base-space;
  }

  h3 {
    margin-bottom: $base-space;
  }
}
