@import "src/View/common/styles/constants";

.error {
  font-size: $base * 3;
  color: $error-color;
  margin-top: $base;
}

.label {
  margin-bottom: 2px;
}

.input {
  border-radius: 2px;
  border: 1px solid $main-color;
}

.inputError {
  border: 1px solid $error-color;
  outline: $error-color;
}

.sup {
  color: $error-color;
}
