@import "src/view/common/styles/constants";

.calendarWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  min-height: 260px;
  margin-bottom: $base-space;
}

.month {
  display: flex;
  flex: 1;
  flex-direction: column;

  .controls {
    display: flex;
    justify-content: space-between;

    .monthTitle {
      padding: $base-space;
    }

    .prev,
    .next {
      padding: $base-space;
    }
  }

  .weekNames {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    font-size: 0.9em;

    div {
      flex: 1;
      text-align: center;
      border-left: 1px solid $border-color;

      &:first-child {
        border-left: none;
      }
    }
  }

  .weekWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    .week {
      display: flex;
      flex: 1;
      justify-content: space-between;
      border-top: 1px solid $border-color;

      .day {
        display: flex;
        font-size: 0.9em;
        flex: 1;
        justify-content: center;
        align-items: center;
        border-left: 1px solid $border-color;

        &:first-child {
          border-left: none;
        }
      }
    }
  }

  .weekend {
    color: red;
  }

  .today {
    background: #88ff94;
  }
}
