@import "src/View/common/styles/constants";

.card {
  position: relative;
  padding: $base * 3;
  border-radius: $base * 2;
  background: $card-bg-color;
  box-shadow: 0 0 2px 2px $card-shadow-color;
}
