@import "src/View/common/styles/constants";

.card {
  padding: 12px;
  //border: 1px solid $border-color;
  border-radius: $base * 2;
  background: $card-bg-color;
  box-shadow: 0 0 2px 2px $card-shadow-color;
}
